/Debug/
/x86/
/x64/
/Release/
/exe/
/out/
/out_x86/
/out_x64/
/.vs/
/ipch/
UpgradeLog.htm
*.aps
*.exe
*.idc
*.ilk
*.lastcodeanalysissucceeded
*.opendb
*.opensdf
*.pdb
*.pfx
*.ipdb
*.iobj
*.sdf
*.suo
*.user
*.db
*.ncb
gitver.h
version.mk